@-moz-document url(chrome://browser/content/browser.xul), url(chrome://browser/content/browser.xhtml) {
    #TabsToolbar, .tab-stack, .tab-content {
        height: 30px !important;
    }

    #urlbar-input {
        height: 20px !important;
    }
    #urlbar-container {
        --urlbar-container-height: 20px !important;
    }
    #urlbar {
        margin-top: -2px;
    }
}

