name: cd

on:
  push:
    branches:
      - main

concurrency:
  group: cd

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Nothing but Nix
        uses: wimpysworld/nothing-but-nix@10c936d9e46521bf923f75458e0cbd4fa309300d # @main (latest version v6)

      - name: Setup Nix
        uses: ./.github/actions/setup-nix
        with:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Build
        run: nix develop "#default" --accept-flake-config --command om ci
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Nix
        uses: ./.github/actions/setup-nix
        with:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Install SSH key
        uses: shimataro/ssh-key-action@d4fffb50872869abe2d9a9098a6d9c5aa7d16be4 # v2.7.0
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          name: id_ed25519
          known_hosts: unnecessary

      - name: Deploy
        run: |
          cd ./tofu
          nix develop "#deploy" --accept-flake-config --command tofu init
          nix develop "#deploy" --accept-flake-config --command tofu plan -out plan
          nix develop "#deploy" --accept-flake-config --command tofu apply -auto-approve plan
