name: cd

on:
  push:
    branches:
      - main

concurrency:
    group: cd

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0

      - name: Setup Nix
        uses: ./.github/actions/setup-nix
        with:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Run `nix flake check`
        run: nix flake check -L --accept-flake-config
  deploy:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0

      - name: Setup Nix
        uses: ./.github/actions/setup-nix
        with:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          name: id_ed25519
          known_hosts: unnecessary

      - name: Deploy
        run: |
          cd ./tofu
          nix develop "#deploy" --accept-flake-config --command tofu init
          nix develop "#deploy" --accept-flake-config --command tofu plan -out plan
          nix develop "#deploy" --accept-flake-config --command tofu apply -auto-approve plan
