name: ci

on:
  push:
    branches-ignore:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Setup Nix
        uses: ./.github/actions/setup-nix
        with:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CACHIX_AUTH_TOKEN: "${{ env.CACHIX_AUTH_TOKEN }}"

      - name: Run `nix flake check`
        run: nix flake check -L --accept-flake-config
