name: update flake.lock
on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * 6'

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v1
      - name: Update flake.lock
        id: update
        uses: DeterminateSystems/update-flake-lock@v19
        with:
          inputs: nixpkgs
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
          commit-msg: "chore: update flake.lock"
          pr-title: "Update flake.lock"
          pr-labels: |
            dependencies
            bot
          pr-body: |
            Automated changes by the [update-flake-lock](https://github.com/DeterminateSystems/update-flake-lock) GitHub Action.
            
            ```
            {{ env.GIT_COMMIT_MESSAGE }}
            ```
      - name: Create pull request
        if: ${{ steps.update.outputs.pull-request-number }}
        run: gh pr merge ${{ steps.update.outputs.pull-request-number }} --auto --squash --delete-branch
        env:
          GH_TOKEN: ${{ github.token }}
